@import "../../../sass/variables";

.nav-Link {
  color: inherit;
  text-decoration: inherit;
}

.nav-bg {
  background: $second-bg-color;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  button {
    height: 35px;
    width: auto;
    border-radius: 12px;
    padding: 10px 10px;
    outline: none;
    border: none;
    box-shadow: 0 2px #999;
  }

  button:active {
    box-shadow: 0 2px #666;
    transform: translateY(2px);
  }

  .nav-cart,
  .nav-links,
  .nav-drop {
    background-color: $third-bg-color;
    color: $text-color;
    font-weight: bold;
    padding: 0.5rem 1rem;
  }

  .nav-cart:hover,
  .nav-links:hover {
    background-color: $accent-color;
    color: black;
  }

  .nav-drop:hover {
    background: black;
  }

  .nav-drop:active {
    box-shadow: 0 2px rgb(175, 66, 47);
  }

  .nav-drop {
    box-shadow: 0 2px $accent-color;
    color: $accent-color;
    text-transform: uppercase;
  }

  .nav-cart:hover .fa-shopping-cart {
    color: black;
  }

  .nav-drop-container {
    position: relative;

    .nav-drop-content {
      background: $third-bg-color;
      border-radius: 8px;
      position: absolute;
      top: 60px;
      right: 0;
      width: 10rem;
      font-size: 0.9em;
      box-shadow: 0 1px 16px black;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-20px);
      transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
    }

    .nav-drop-content.active {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      border-radius: 16px;
      background: $third-bg-color;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      border-radius: 16px;
    }
    li {
      color: $text-color;
      cursor: pointer;
      h4 {
        padding: 15px 20px;
        display: block;
      }
    }
    li:hover {
      color: $accent-color;
      background-color: black;
    }
    #item1:hover {
      border-top-right-radius: 16px;
      border-top-left-radius: 16px;
    }
    #item2:hover {
      border-bottom-right-radius: 16px;
      border-bottom-left-radius: 16px;
    }
  }
}

.nav-logo {
  justify-self: start;
  margin-left: 3rem;
  cursor: pointer;
}

.fa-times,
.fa-bars,
.fa-shopping-cart {
  color: $text-color;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-menu-icon {
  display: none;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-device-width: 25.875rem) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 250px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: $second-bg-color;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    display: table;
    text-align: center;
    padding: 2rem;
    width: 100%;
  }

  .nav-links:hover {
    background-color: $accent-color;
    color: black;
    border-radius: 0;
  }

  .nav-logo {
    display: grid;
    justify-self: left;
    margin-left: 0rem;
    cursor: pointer;
  }

  .nav-menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    cursor: pointer;
  }
}

/* Desktop */
@media only screen and (min-width: 77.5rem) {
  .nav-logo {
    justify-self: start;
    margin-left: 3rem;
    cursor: pointer;
    padding-right: 2rem;
    padding-left: 1rem;
  }
}

@media only screen and (min-width: 29.8125rem) {
  .nav-logo {
    justify-self: start;
    margin-left: 3rem;
    cursor: pointer;
    padding-right: 2rem;
    padding-left: 1rem;
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-width: 26.563rem) and (max-width: 77.5rem) and (orientation: portrait) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 250px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: $second-bg-color;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    display: table;
    text-align: ceneter;
    padding: 2rem;
    width: 100%;
  }

  .nav-links:hover {
    background-color: $accent-color;
    color: black;
    border-radius: 0;
  }

  .nav-logo {
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
  }

  .nav-menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    cursor: pointer;
  }
}
