@import "../../sass/variables";

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-left: 8rem;

  .product-image {
    background: none;
    width: 25rem;
    height: 20rem;
    margin: 2rem;
    box-shadow: 0 0px 20px 0 $accent-color, 0 0px 30px 0 $accent-color;

    img {
      height: 20rem;
      width: 25rem;
    }
  }

  .product-content {
    background: none;
    color: $text-color;
    width: 25rem;
    height: 20rem;
    margin: 2rem;

    h1 {
      color: $accent-color;
      font-size: 3rem;
      font-weight: bolder;
      padding-bottom: 2rem;
    }

    .product-instock {
      color: greenyellow;
    }

    .product-nostock {
      color: red;
    }

    .product-inline {
      display: flex;
      align-items: center;
      padding: 0.5rem 0 2rem 0;

      button {
        margin-left: 1rem;
        background: $third-bg-color;
        color: $text-color;
        border: none;
        border-radius: 12px;
        height: 35px;
        width: auto;
        padding: 10px 10px;
        outline: none;
        box-shadow: 0 2px #999;
        font-weight: bold;
      }
      button:active {
        box-shadow: 0 2px #666;
        transform: translateY(2px);
      }
      button:hover {
        background: $accent-color;
        color: black;
      }
    }
  }
}
