@import "../../sass/variables";

.shipping-container {
  height: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 3rem 3rem;

  h1 {
    margin-top: 1rem;
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: bold;
    color: $text-color;
  }

  .shipping-form {
    margin: 2rem 2rem;
    background: $second-bg-color;
    width: 25rem;
    height: 25rem;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 0px 20px 0 $accent-color, 0 0px 30px 0 $accent-color;

    .shipping-form-items {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      .shipping-input {
        padding: 1rem;
        margin: 0.5rem;
        width: 20rem;
        border-radius: 12px;
        font-weight: bold;
        background: $third-bg-color;
        color: $text-color;
        border: none;
      }
      button {
        position: relative;
        text-align: center;
        margin: 0.3rem;
        width: 20rem;
        background: $third-bg-color;
        color: $text-color;
        border: none;
        border-radius: 12px;
        height: 3rem;
        padding: 10px 10px;
        outline: none;
        box-shadow: 0 2px #999;
        font-weight: bold;
        text-transform: uppercase;
      }
      button:active {
        box-shadow: 0 2px #666;
        transform: translateY(2px);
      }
      button:hover {
        background: $accent-color;
        color: black;
      }
    }
  }
}
